.neon {
  padding: 10px;
  animation: neon 1.5s ease-in-out infinite alternate;
}

.artist-image {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}

@keyframes neon {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff;
  }
  to {
    text-shadow: 0 0 10px #f06, 0 0 20px #f06, 0 0 30px #f06;
  }
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 5px 0;
}

.average-info {
  font-size: 18px;
  margin-top: 20px;
  color: black; /* Color del texto de la información del promedio */
}

.para {
  margin: 3;
}
