{% extends "base.html" %} {% block title %}{{ data.track_name }}{% endblock %}
{%block content%}

<section class="pb-3 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <img
        src="{{ image_url }}"
        alt="Imagen del artista"
        class="artist-image"
      />
      <h2 class="pb-2 border-bottom">
        "{{ data.track_name }}" de {{ artist_name }}
      </h2>
    </div>
  </div>

  <div class="col align-top">
    <div class="row row-cols-1 g-4 row-cols-sm-3 justify-content-around">
      <div class="col d-flex flex-column gap-2 align-items-center">
        <svg
          class="bd-placeholder-img"
          width="250"
          height="250"
          xmlns="http://www.w3.org/2000/svg"
          role="img"
          preserveAspectRatio="xMidYMid slice"
          focusable="false"
        >
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="#55595c" />
          <text x="50%" y="50%" fill="#eceeef" dy=".3em">Grafica</text>
        </svg>
        <h4 class="fw-semibold mb-0 text-body-emphasis">Polaridad</h4>

        
        {% if polarity > 0.2 %}
        <p class="text-success">
          {{'{0:.4f} (Positivo)'.format(polarity)}}
        </p>
        {% elif polarity < -0.2 %}
        <p class="text-danger">
          {{'{0:.4f} (Negativo)'.format(polarity)}}
        </p>
        {% else %}
        <p class="text-body-secondary">
          {{'{0:.4f} (Neutro)'.format(polarity)}}
        </p>
        {% endif %}
      </div>

      <div class="col d-flex flex-column gap-2 align-items-center">
        <svg
          class="bd-placeholder-img"
          width="250"
          height="250"
          xmlns="http://www.w3.org/2000/svg"
          role="img"
          preserveAspectRatio="xMidYMid slice"
          focusable="false"
        >
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="#55595c" />
          <text x="50%" y="50%" fill="#eceeef" dy=".3em">Grafica</text>
        </svg>
        <h4 class="fw-semibold mb-0 text-body-emphasis">Subjetividad</h4>
        <p class="text-body-secondary">{{subjectivity}}</p>
      </div>
    </div>
  </div>
</section>

<div class="container px-4 pb-5">
  <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5">
    <div class="col d-flex flex-column align-items-start gap-2">
      <h3 class="text-body-emphasis">Letra de la canción</h3>
      {% for para in data.lyrics %}
      <div>
        {% for verse in para %}
        <p class="para text-body-secondary">{{verse}}</p>
        {% endfor %}
      </div>
      <br />
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
