{% extends "base.html" %} {% block title %}{{ album_name }}{% endblock %}
{%block content%}
<section class="pb-3 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <img
        src="{{ image_url }}"
        alt="Imagen del artista"
        class="artist-image"
      />
      <h1 class="neon">"{{ album_name }}" de {{ artist_name }}</h1>
    </div>
  </div>

  <div class="col align-top">
    <div class="row row-cols-1 g-4 row-cols-sm-3 justify-content-around">
      <div class="col d-flex flex-column gap-2 align-items-center">
        <svg
          class="bd-placeholder-img"
          width="250"
          height="250"
          xmlns="http://www.w3.org/2000/svg"
          role="img"
          preserveAspectRatio="xMidYMid slice"
          focusable="false"
        >
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="#55595c" />
          <text x="50%" y="50%" fill="#eceeef" dy=".3em">Grafica</text>
        </svg>
        <h4 class="fw-semibold mb-0 text-body-emphasis">
          Polaridad promedio del album
        </h4>
        {% if data.polarity.mean() > 0.1 %}
        <p class="text-success">
          {{'{0:.4f} (Positivo)'.format(data.polarity.mean())}}
        </p>
        {% elif data.polarity.mean() < -0.1 %}
        <p class="text-danger">
          {{'{0:.4f} (Negativo)'.format(data.polarity.mean())}}
        </p>
        {% else %}
        <p class="text-body-secondary">
          {{'{0:.4f} (Neutro)'.format(data.polarity.mean())}}
        </p>
        {% endif %}
      </div>

      <div class="col d-flex flex-column gap-2 align-items-center">
        <svg
          class="bd-placeholder-img"
          width="250"
          height="250"
          xmlns="http://www.w3.org/2000/svg"
          role="img"
          preserveAspectRatio="xMidYMid slice"
          focusable="false"
        >
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="#55595c" />
          <text x="50%" y="50%" fill="#eceeef" dy=".3em">Grafica</text>
        </svg>
        <h4 class="fw-semibold mb-0 text-body-emphasis">
          Subjetividad promedio del album
        </h4>
        <p class="text-body-secondary">
          {{'{0:.4f}'.format(data.subjectivity.mean())}}
        </p>
      </div>
    </div>
  </div>
</section>

<div class="album py-5 bg-body-tertiary">
  <h1 class="neon">Canciones del álbum</h1>
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      {% for index, row in data.iterrows() %}
      <div class="col">
        <div class="card shadow-sm">
          <img
            src="{{ image_url }}"
            width="100%"
            height="225"
            alt="Imagen del artista"
            class="bd-placeholder-img card-img-top"
          />
          <div class="card-body">
            <h5 class="card-title">{{ row.track_name }}</h5>
            <small class="text-body-secondary"
              >Polaridad: {{'{0:.4f}'.format(row.polarity)}}</small
            >
            <br />
            <small class="text-body-secondary"
              >Subjetividad: {{'{0:.4f}'.format(row.subjectivity)}}</small
            >
            <br />
            <div class="d-flex justify-content-between align-items-center">
              <small class="text-body-secondary"
                >Duración: {{convertMin(row.duration)}} minutos</small
              >
            </div>
            <hr />
            <a
              href="/{{ row.artist_id }}/{{ row.album_id }}/{{ row.track_id }}/"
              class=""
              >Ver Canción</a
            >
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
