{% extends "base.html" %} 
{% block title %}{{ data.track_name }}{% endblock %} 

{%block content%}
<img src="{{ image_url }}" alt="Imagen del artista" class="artist-image" />
<h1>"{{ track_name }}" de {{ artist_name }}</h1>
{% for para in data.lyrics %}
    <div>
    {% for verse in para %}
        <p class="para">{{verse}}</p>
    {% endfor %}
    </div>
    <br>
{% endfor %}
<br>
<p>Polarity</p>
<p>{{polarity}}</p>
<br>
<p>Subjectivity</p>
<p>{{subjectivity}}</p>
<p>Duration</p>
<p>{{duration}}</p>
{% endblock %}
